/* Carousel */
.carousel .carousel-item img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: top;
}

.overlay {
	background: linear-gradient(
       rgba(255,255,255,0),
       rgba(0,0,0,.45)
	);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* Featured Categories */
.featured-categories .card img {
	object-fit: cover;
	width: 100%;
	height: 25rem;
}

.bg-dark-custom {
	background-color: #343a409e;
}

.featured-categories .card .card-title {
	font-size: 2rem;
}

/* Services */
.services i {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.services .card {
	min-height: 10rem;
}

/* Home Products */
.home-products .card img {
	object-fit: cover;
	width: 100%;
	height: 15rem;
}


.shop-products img{
	object-fit:cover;
	width: 100%;
	height:12.5rem;
}

#registerlayout{
	background-image: url('../images/layouts/bg-01.jpg');
	height: 100vh;
	background-repeat: no-repeat;
}

#loginlayout{
	background-image: url('../images/layouts/bg-01.jpg');
	height: 100vh;
	background-repeat: no-repeat;
}

/* Media Queries */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.carousel .carousel-item img {
		height: 60vh;
	}
}
